services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "3001:3001"
    environment:
      # DATABASE_URL is required in .env
      PORT: 3001
      ORIGIN: http://localhost:3000
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/backend/node_modules

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/apps/frontend/node_modules
      - /app/apps/frontend/.next
